@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@import 'tailwindcss';
@import '@repo/tailwind-config';

:root {
  --container-padding-x: 1em;
  --container-width: 1600px;
  --container-real-width: calc(
    var(--container-width) + var(--container-padding-x) * 2
  );
}

@layer base {
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }

  html {
    @apply font-sans antialiased;
    letter-spacing: var(--tracking-normal);
  }

  * {
    @apply border-border outline-ring/50;
  }
}
