@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import 'tailwindcss';
@import '@repo/tailwind-config';

@layer base {
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }

  html {
    @apply font-sans antialiased;
  }
}
